.column {
	float: left;
	width: 23.3%;
	margin-bottom: 16px;
	padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
	.column {
		width: 100%;
		display: block;
	}
}

@media only screen and (max-width: 500px){
    section.content{
        margin-left:0 !important;
        margin-right:0px;
        padding:0
    }
}

/* Add some shadows to create a card effect */
.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.containers {
	padding: 0 16px;
}

/* Clear floats */
.container::after, .row::after {
	content: "";
	clear: both;
	display: table;
}

.titles {
	color: grey;
}

.buttons {
	border: none;
	outline: 0;
	display: inline-block;
	padding: 8px;
	color: white;
	background-color: #000;
	text-align: center;
	cursor: pointer;
	width: 100%;
}

.buttons:hover {
	background-color: #555;
}

section.content{
    margin:60px 0px 15px 250px;
    -moz-transition:.5s;
    -o-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
    z-index:9;
    position:relative;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -ms-border-radius:3px;
    border-radius:3px
}